<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Favicons -->
    <link rel="shortcut icon" href="~/images/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/images/favicon.ico" type="image/x-icon">
    
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="~/css/animate.css">
        <link rel="stylesheet" type="text/css" href="~/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="~/css/ionicons.css">
        <link rel="stylesheet" type="text/css" href="~/css/slick.css">
        <link rel="stylesheet" type="text/css" href="~/css/jquery.mCustomScrollbar.css">
        <link rel="stylesheet" type="text/css" href="~/css/magnific-popup.css">
        <link rel="stylesheet" type="text/css" href="~/css/nouislider.min.css">
        <link rel="stylesheet" type="text/css" href="~/css/range-slider.css">
        <link rel="stylesheet" type="text/css" href="~/css/simplyCountdown.theme.default.css">
        <link rel="stylesheet" type="text/css" href="~/css/TimeCircles.css">
        <link rel="stylesheet" type="text/css" href="~/css/elements.css">
        <link rel="stylesheet" type="text/css" href="~/css/base.css">
        <link rel="stylesheet" type="text/css" href="~/css/media.css">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>

<body id="md-site-main-box" class="event" data-spy="scroll" data-offset="100" data-target="#md-site-navbar">
    <div class="md-site-wraper">

        <!-- Header start -->
        <header id="md-header" class="md-site-header md-header-style-1 gradient-menu position-fixed width-100 z-index-999 wow fadeInUp" data-wow-delay="0.5s">
            <div class="md-logo-navbar width-100 float-left linear-transition">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                            <div class="md-theme-logo">
                                <a asp-page="/Index"><img src="~/images/logo.png" alt="Logo" /></a>
                            </div>
                        </div>

                        <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 md-main-menu">
                            <div class="menuBar jumplinks">
                                <nav class="navbar navbar-default bg-transparent">
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#md-site-navbar" aria-expanded="false">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>
                                    </div>

                                    <div id="md-site-navbar" class="collapse navbar-collapse">
                                        <ul class="nav navbar-nav navbar-right">
                                            <li><a asp-page="/Index">Home</a></li>
                                            @if (!this.BodyContent.ToString().Contains("Conference"))
                                            {
                                                <li><a href="#contact">Find Event</a></li>
                                                <li><a asp-page="/Speakers">Speakers</a></li>
                                            }
                                            else
                                            {
                                                <li><a href="#speakers">Speakers</a></li>
                                                <li><a href="#schedule">Schedule</a></li>
                                            }
                                           
                                            <li><a href="#aboutus">About</a></li>
                                            <li><a href="#sponsors">Sponsors</a></li>
                                            <li authz="true"><a asp-page="/MyAgenda">My Agenda</a></li>
                                        </ul>

                                        @*<form asp-controller="account" asp-action="logout" method="post" id="logoutForm" class="navbar-right">
                                            <ul class="nav navbar-nav navbar-right">
                                                <li authz="true"><a>@Context.User.Identity.Name</a></li>
                                                <li authz="true">
                                                    <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
                                                </li>
                                                <li authz="false"><a asp-page="/Login">Log in</a></li>
                                            </ul>
                                        </form>*@
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header end -->
     
        <!-- Content Start -->
         @RenderBody()
        <!-- Content End -->
        

        <!-- Footer Start -->
                        <footer id="footer" class="footer-style-3 md-footer width-100 float-left text-align-center padding-tb-73-71 position-relative"  style="background-image: linear-gradient(rgb(243, 119, 62) 0%, rgb(148, 79, 159) 100%)">
                            <div class="container position-relative wow fadeInUp" data-wow-delay="0.5s">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                        
                                        <div class="md-social-menu width-100 float-left social-media-icons social-rounded-bg margin-bottom-25">
                                            <ul class="list-group list-style-none wow fadeInUp" data-wow-delay="0.5s">
                                                <li class="list-group-item"><a href="#" target="_blank"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
                                                <li class="list-group-item"><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                                <li class="list-group-item"><a href="#" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                            </ul>
                                        </div>
                                        <div class="md-copyright width-100 float-left text-small-16 font-weight-400 color-white position-relative">
                                            <div class="wow fadeInUp">
                                                <span class="display-inline-block">powered by</span> <a class="color-white text-small-16 font-weight-600" href="http://xamariners.com/" target="_blank">Xamariners</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </footer>
                        <!-- footer end -->

                        <a href="javascript:void(0);" class="back-to-top all-side-shadow bg-black"><i class="fa fa-long-arrow-up" aria-hidden="true"></i></a>

                    </div>

                    <environment include="Development">
                        <script src="~/lib/jquery/dist/jquery.js"></script>
                        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
                        <script src="~/js/site.js" asp-append-version="true"></script>

                        <!-- Browser detect js -->
                        <script src="~/js/browser-detect.js"></script>

                        <!-- Slick slider js -->
                        <script src="~/js/slick.js"></script>

                        <!-- Equal Height js -->
                        <script src="~/js/jquery.tile.js"></script>

                        <!-- Animation on load js -->
                        <script src="~/js/wow.min.js"></script>

                        <!-- Isotope and filter js -->
                        <script src="~/js/jquery.isotope.min.js"></script>

                        <!-- Counter js -->
                        <script src="~/js/jquery.waypoints.min.js"></script>
                        <script src="~/js/jquery.counterup.js"></script>

                        <!-- Magnific popup js -->
                        <script src="~/js/jquery.magnific-popup.js"></script>

                        <!-- Custom scroll bar js -->
                        <script src="~/js/jquery.mCustomScrollbar.js"></script>

                        <!-- Range slider js -->
                        <script src="~/js/nouislider.js"></script>
                        <script src="~/js/wNumb.js"></script>

                        <!-- Simple countdown js -->
                        <script src="~/js/simplyCountdown.js"></script>

                        <!-- Circle time counter js -->
                        <script src="~/js/TimeCircles.js"></script>

                        <!-- Custom jQuery -->
                        <script src="~/js/public.js"></script>
                    </environment>
                    <environment exclude="Development">
                        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                                asp-fallback-test="window.jQuery"
                                crossorigin="anonymous"
                                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
                        </script>
                        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                                crossorigin="anonymous"
                                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
                        </script>
                        <script src="~/js/site.min.js" asp-append-version="true"></script>
                    </environment>


                    @RenderSection("Scripts", required: false)
</body>
</html>
