@page "{statuscode}"
@model StatusModel


<!-- Banner start -->
<section class="banner-style-1 md-header-banner text-align-center position-relative cover-background" style="background-image: url(/images/background.jpg);">
    <div class="md-color-overlay gradient-orange-pink"></div>
    <div class="jumbotron bg-transparent height-100 position-relative">
        <div class="container height-100">
            <div class="md-banner-content margin-lr-auto " >
                <div class="md-bannertext-img md-banner-content-cell-middle height-100">
                    
                    <h1 class="text-extra-large-90 color-white font-weight-600 text-transform-uppercase margin-bottom-25 editContent" id="dt-head2-title-1" style="color:rgb(255, 255, 255);font-size:3em;background-color:rgba(0, 0, 0, 0);font-family:Poppins, sans-serif;font-weight:600;text-transform:uppercase;">@Model.StatusCode @Model.StatusCodeMessage</h1>
                   
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Banner End -->